name: Branch Based Deployment
on:
  push:
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Building application"
      - run: echo "${{github.event_name}}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - run: echo "Deploying to production"
      - run: echo "KK FUNDA Deployment"